

div.container form
{
   margin-top: 3%;
   background: white;
   padding: 10%;
   margin-left: 15%;
   margin-right: 15%;
 }

div.container form h1
{
 text-align: center;
 font-weight: 300;
 margin-top: 0;
 margin-bottom: 40px;
}

.yes
{ background: #6495ed;
  text-align: center;
  color: white;
  width: 300px;
  margin-left: 27%;
  margin-top: 50px;
}